<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sean Robinson Landing Page</title>
    <link rel="stylesheet" href="../static/css/landing2.css">
</head>
<body>
    <div class="container">
        <div class="container_item landing-page-container">
            <div class="content-wrapper">

                <header class="header">
                    <div class="menu-icon header_item">
                        <span class="menu-icon_line"></span>
                    </div>
                    <h1 class="heading header_item">LOGO</h1>

                    <ul class="social-container header_item">
                        <li class="social_icon social_icon--fb">
                            <img src="https://s29.postimg.org/3ldyta4qb/image.png" alt="facebook">
                        </li>
                        <li class="social_icon social_icon--dr">
                            <img src="https://s29.postimg.org/vqltn8fhv/image.png" alt="dribble">
                        </li>
                        <li class="social_icon social_icon--in">
                            <img src="https://s29.postimg.org/p1fa77us5v/image.png" alt="instagram">
                        </li>
                    </ul>
                </header>
                <p class="coords">N 49 16' 35.173" / W 0 42' 11.30"</p>

                <div class="ellipse-container">
                    <h2 class="greeting">explore</h2>
                    <div class="ellipse ellipse_outer--thin">
                        <div class="ellipse ellipse_orbit"></div>
                    </div>  
                    <div class="ellipse ellipse_outer--thick">
                    </div>
                </div>
                </div>
            </div>
        </div>
    
</body>
</html>