<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css" />
    <link rel="stylesheet" href="../static/css/newhome.css">
    <title>Sean Robinson</title>
</head>
<body>
    <section class="intro">
        <h1 class="title">
            Sean <br/>
            Robinson
        </h1>
        <p>
            Get out there and be somebody.
        </p>
    </section>
   
</body>
</html>