<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sean Robinson Resume</title>
    <link rel="stylesheet" href="../static/css/resume.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="top-bar">
        <div class="fullname">
            <h1>Sean Robinson</h1>
        </div>
        <div class="contact">
            <div class="website-address">
                <i class="fa fa-television" aria-hidden="true">
                    www.seanrobinsonrocks
                </i>
            </div>
            <div class="email">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-envelope"></i>
                </span>
                irobbierobinson@gmail.com
            </div>
            <div class="linked-in">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                </span>
                www.linkedin.com/in/seanrobinson
            </div>
        </div>
    </section>
    <section class="skills">
        <div class="section-header">
            <h3>img skills</h3>
        </div>
        <div class="skill-one">
            <p>Programming Languages</p>
        </div>
        <div class="skill-two">
            <p>Web Technologies</p>
        </div>
        <div class="skill-one-description">
            <p>Python, C, C++, JavaScript</p>
        </div>
        <div class="skill-two-description">
            <p>Flask, Django, HTML5, CSS3, jQuery</p>
        </div>
    </section>
    <section class="experience">
        <div class="section-header">
            <h3>img experience</h3>
        </div>
        <div class="experience-one">
            <div class="experience-one-logo">

            </div>
            
        </div>
    </section>

    </section>
</body>
</html>